<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dinosaur website for kids">
    <meta name="keywords" content="dinosaur history, children, learning">

    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/0bd0623f13.js" crossorigin="anonymous"></script>



    <title>All About Dinos</title>
</head>

<body>
    <header>
        <a href="/">
            <h1 id=>All About Dinos</h1>
        </a>
        <input id="menu-icon-state" type="checkbox" />
        <nav>
            <ul>
                <li>
                    <a class="link" href="/">Home</a>
                </li>
                <li>
                    <a class="link" href="/dino-a-z">A-Z</a>
                </li>
            </ul>
        </nav>
        <label id="menu-icon-state" for="menu-icon-state">
            <div class="menu-icon-click">
                <span class="menu-icon"></span>
            </div>
        </label>
    </header>
    <main>
        
    </main>
    <footer>
        <div class="content">
            <ul class="footer-links">
                <li>
                    <a class="link" href="https://facebook.com" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in a new tab)">
                        <i class="fa-brands fa-facebook"></i>
                        <span>
                            Facebook
                        </span>
                    </a>
                </li>
                <li>
                    <a class="link" href="https://instagram.com" target="_blank" rel="noopener"
                        aria-label="Visit our Insta page (opens in a new tab)">
                        <i class="fa-brands fa-instagram"></i>
                        <span>
                            Instagram
                        </span>
                    </a>
                </li>
                <li>
                    <a class="link" href="https://twitter.com" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in a new tab)">
                        <i class="fa-brands fa-twitter"></i>
                        <span>
                            Twitter
                        </span>
                    </a>
                </li>
                <li>
                    <a class="link" href="https://youtube.com" target="_blank" rel="noopener"
                        aria-label="Visit our Youtube page (opens in a new tab)">
                        <i class="fa-brands fa-youtube"></i>
                        <span>
                            Youtube
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>



</html>